{
  "extends": ["@so1ve", "plugin:unicorn/recommended"],
  "plugins": ["@typescript-eslint", "unicorn"],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "warn"
    
  }
}
