/tsconfig.tsbuildinfo
/node_modules/
/packages/**/node_modules/
/packages/**/dist/
/mods/**/node_modules/
/mods/**/dist/
/plugins/**/node_modules/
/plugins/**/dist/
/cli/node_modules/
.rollup.cache/
/.VSCodeCounter/**
.vscode